{% extends 'partials/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Update Page{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="border bg-white p-3">
                <h3>Update Item</h3>
                <hr>
                <form action="" method="post">
                    {% csrf_token %}
                    {{form|crispy}}
                    <a class="btn btn-secondary" href="{% url 'app-product' %}">Cancel</a>
                    <input type="submit" class="btn btn-info" value="update">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
